@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'iranYek';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/assets/Fonts/IRANYekanWeb-Bold.eot) format('eot');
    src: url(../public/assets/Fonts/IRANYekanWeb-Bold.ttf) format('ttf');
    src: url(../public/assets/Fonts/IRANYekanWeb-Bold.woff) format('woff');
    src: url(../public/assets/Fonts/IRANYekanWeb-Bold.woff2) format('woff2');
  }
}